{% form_theme form 'KoalaContentBundle:Form:fields.html.twig' %}

<form action="{{block('action')}}" method="post" {{ form_enctype(form) }} class="form-horizontal" style="width: 600px">
	<div class="form-inputs mercury-display-pane-container">
		<fieldset>
			<legend><span>Page options</span></legend>
			{{form_errors(form)}}
			{{form_row(form.parent)}}
			{{form_row(form.label)}}
			{{form_row(form.page.title)}}
			{{form_row(form.page.url)}}
			{{form_row(form.page.slug)}}
			{{form_row(form.page.layout)}}
			{{form_rest(form)}}
		</fieldset>
	</div>
	<div class="form-actions mercury-display-controls">
		{% block buttons %}{% endblock %}
		<input class="btn btn-primary" name="commit" type="submit" value="{{block('commit_text')}}" />
	</div>
</form>
