{% extends template %}

{% block body %}
<div id="flash-messages"></div>
{{parent()}}
{% endblock %}

{% block stylesheets %}
	{{parent()}}
	{% if (can_edit) %}
	<meta name="mercury-images" content="{{path('koala_content_mercury_images')}}"/>
	<meta name="mercury-content" content="{{path('koala_content_mercury_content', {page_id: page.id})}}">
	<meta name="mercury-new" content="{{path('koala_content_page_new')}}"/>
	<meta name="mercury-edit" content="{{path('koala_content_page_edit', {page_id: page.id})}}"/>
	<link rel="stylesheet" href="{{asset('bundles/koalacontent/css/flash.css')}}" type="text/css" media="screen" title="no title" charset="utf-8"/>
	<script type="text/javascript" charset="utf-8">
		window.mercuryPackages = {
		    bundled: {
		        javascripts: '{{mercury.javascripts|join(',')}}',
		        stylesheets: '{{mercury.stylesheets|join(',')}}'
		    }
		};  
	</script>
	<script src="{{asset('mercury/javascripts/mercury_loader.js')}}?visible=false&pack=bundled&src={{app.request.basepath}}" type="text/javascript" charset="utf-8"></script>
	{% endif %}
{% endblock %}
